body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #0D0D0D;*/
}

#player1, #player2, #player {
    font-family: 'arial', sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
}

.modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #900;
    border: 2px solid #fff;
    -webkit-border-radius:  26px;
    -moz-border-radius:     26px;
    -o-border-radius:       26px;
    -ms-border-radius:      26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  }
    
h1 {    
    font-family: 'arial', sans-serif;
    font-size: 4em;
    color: #D95043;
}
        
#container {    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}
    
.divMorpion {   
    width : 95px;
    height: 95px;
    background-color:whites;
    border: solid 2px rgb(184, 43, 43);
}
    
.arrowTarget {    
    width : 95px;
    height: 95px;
    background-color:rgb(67, 145, 217);
    border: solid 2px rgb(184, 43, 43);   
}
    
.arrowCircle {    
    width : 95px;
    height: 95px;
    background-color:rgb(110, 201, 25);
    border: solid 2px rgb(184, 43, 43);
}